:root {

    --clr-font-white: rgb(243, 243, 243);
    --clr-pokemon-yellow: rgb(255, 205, 0);
    --clr-pokemon-blue: rgb(53, 106, 188);

    --clr-bg-green-side: rgb(38, 100, 7);
    --clr-bg-green-middle: rgb(107, 231, 45);
    --clr-bg-green-border: rgba(114, 175, 0, 0.9);
    --clr-pf-green: rgb(38, 100, 7);

    --clr-bg-red-side: rgb(183, 47, 38);
    --clr-bg-red-middle: rgb(255, 196, 58);
    --clr-bg-red-border: rgba(182, 50, 41, 0.589);
    --clr-pf-red: rgb(183, 47, 38);

    --clr-bg-deepred-side: rgb(107, 26, 21);
    --clr-bg-deepred-middle: rgb(152, 80, 76);
    --clr-bg-deepred-border: rgb(107, 26, 21);
    --clr-pf-deepred: rgb(107, 26, 21);

    --clr-bg-blue-side: rgb(57, 104, 203);
    --clr-bg-blue-middle: rgb(125, 152, 210);
    --clr-bg-blue-border: rgb(99, 148, 255);
    --clr-pf-blue: rgb(22, 65, 156);

    --clr-bg-gray-side: rgb(67, 67, 67);
    --clr-bg-gray-middle: rgb(154, 154, 154);
    --clr-bg-gray-border: rgb(67, 67, 67);
    --clr-pf-gray: rgb(67, 67, 67);

    --clr-bg-yellow-side: rgb(196, 158, 35);
    --clr-bg-yellow-middle: rgb(249, 233, 16);
    --clr-bg-yellow-border: rgb(245, 255, 99);
    --clr-pf-yellow: rgb(196, 158, 35);

    --clr-bg-purple-side: rgb(132, 26, 118);
    --clr-bg-purple-middle: rgb(221, 75, 202);
    --clr-bg-purple-border: rgb(132, 26, 118);
    --clr-pf-purple: rgb(132, 26, 118);

    --clr-bg-brown-side: rgb(116, 66, 24);
    --clr-bg-brown-middle: rgb(184, 105, 40);
    --clr-bg-brown-border: rgb(116, 66, 24);
    --clr-pf-brown: rgb(116, 66, 24);

    --clr-bg-detail-border-side: rgb(67, 67, 67);
    --clr-bg-detail-border-middle: rgb(214, 214, 214);
}



* {
    margin: 0;
    transition: all 225ms ease-in-out;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* main {
    display: flex;
} */

section {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding-bottom: 24px;
    background-color: rgb(32, 32, 32, .9);
    width: 100%;
    flex: 1;
    position: relative;
}

#loadButton {
    font-size: 16px;
    padding: 5px;
    background-color: var(--clr-pokemon-blue);
    color: var(--clr-pokemon-yellow);
    border: 1px solid var(--clr-pokemon-yellow);
    border-radius: 5px;
    padding-inline: 8px;
    cursor: pointer;

}

header {
    background-color: white;
    min-height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 15;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

header img {
    height: 80px;
    transform: translateY(10px);
    margin-right: 24px;
}

.search {
    display: flex;
    margin-top: 24px;
}

header .wrapper {
    max-width: 1800px;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 24px 16px 24px;
    /* padding: 16px;
    padding-top: 8px; */
    flex-wrap: wrap;
}

.footer-container {

    max-width: 1800px;
    display: flex;
    align-items: center;
    padding-inline: 24px;

    flex: 1;
    flex-wrap: wrap;
    margin: auto;
}

#inputField {

    font-size: 16px;
    min-height: 28px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    /* transform: translateY(-10px); */
}

#resetButton {
    font-size: 16px;
    background-color: var(--clr-pokemon-blue);
    color: var(--clr-pokemon-yellow);
    border: 1px solid var(--clr-pokemon-yellow);
    border-radius: 5px;
    padding-inline: 8px;
    min-height: 32px;
    cursor: pointer;
    /* transform: translateY(-10px); */
}

.wrapper {
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin-inline: auto;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;

    align-items: center;
    max-width: 1920px;
    margin-inline: auto;

}

main .wrapper {
    flex: 1;
}


#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.card-border {
    display: flex;
    width: 250px;
    height: 250px;
    overflow: hidden;
    padding: 10px;
    background: linear-gradient(113deg, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 51%, rgba(126, 126, 126, 1) 100%);
    border-radius: 10px;
    border: 1px solid rgb(105, 105, 105);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    cursor: pointer;
}


.card {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    color: var(--clr-font-white);
    cursor: pointer;


}

.card:hover {
    transform: scale(1.05);
    z-index: 10;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-inner {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;


}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;

}

.platform {
    width: 100%;
    height: 100px;
    transform: translateY(20px);
    position: absolute;
    bottom: 0;
    width: 100%;
    flex: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.platform::after {
    content: '';
    width: 30px;
    height: 10px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-55%);
    top: 30%;
    filter: blur(10px);
}


.image-container img {
    width: 50%;
}

#card-id {
    font-size: 12px;
}

.ability-container {
    display: flex;
    gap: 10px;
}

.ability {
    padding: 8px;
    width: 60px;

    border-radius: 10px;
    margin-block: 10px;
    text-align: center;
}

.secondary {
    background-color: greenyellow;
}

/* LOADING */
#loadingScreen {
    position: fixed;
    background-color: rgb(32, 32, 32);
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingText {
    margin-top: 10px;
    color: var(--clr-font-white);
}

.d-none {
    display: none !important;
}

.loader {
    border: 12px solid var(--clr-pokemon-blue);
    /* Light grey */
    border-top: 12px solid var(--clr-pokemon-yellow);
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


footer {
    padding-block: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .2);
}

footer img {
    height: 32px;
    margin-right: 12px;
}

#detailScreen {
    position: fixed;
    background-color: rgb(32, 32, 32, .9);
    color: var(--clr-font-white);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detailCard-border {
    width: min(320px, 90%);
    margin-inline: 10px;
    height: 550px;
    background: linear-gradient(113deg, var(--clr-bg-detail-border-side) 0%, var(--clr-bg-detail-border-middle) 51%, var(--clr-bg-detail-border-side) 100%);
    border-radius: 10px;
    padding: 10px;
}

.detailCard-inner {
    width: 100%;
    height: 100%;
    background: linear-gradient(113deg, var(--clr-bg-green-side) 0%, var(--clr-bg-green-middle) 51%, var(--clr-bg-green-side) 100%);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 12px;
    position: relative;


}

.detailCard-top {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.big-char-img {
    width: 50%;
}

.detailCard-bottom {
    color: rgb(0, 0, 0);
    width: 100%;
    height: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px 12px;
    /* gap: 10px; */
    justify-content: space-between;


}

.statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.statistics p {
    font-size: 10px;
    width: 40px;
    text-align: right;
}

.progress {
    width: 90%;
    height: 20px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(199, 199, 199);
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: blue;
    width: 0%;
    transition: width linear;
    opacity: 0.7;
}

.progress-amount {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 12px;
    color: rgb(255, 255, 255);
    transition: all linear;
}

#detailCard-id {
    position: absolute;
    right: 12px;
    top: 20px;
}

.next-button {
    height: 24px;
    top: 30%;
    position: absolute;
    cursor: pointer;
}
.next-button:hover{
    transform: scale(1.2);
}

.right {
    right: 12px;
}

.left {
    left: 12px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

/* Colors */
.bg-green {
    background: linear-gradient(113deg, var(--clr-bg-green-side) 0%, var(--clr-bg-green-middle) 51%, var(--clr-bg-green-side) 100%);
    border: 1px solid var(--clr-bg-green-border);
}

.pf-green {
    background-color: var(--clr-pf-green);
}

.bg-red {
    background: linear-gradient(113deg, var(--clr-bg-red-side) 0%, var(--clr-bg-red-middle) 51%, var(--clr-bg-red-side) 100%);
    border: 1px solid var(--clr-bg-red-border);
}

.pf-red {
    background-color: var(--clr-pf-red);
}

.bg-deepred {
    background: linear-gradient(113deg, var(--clr-bg-deepred-side) 0%, var(--clr-bg-deepred-middle) 51%, var(--clr-bg-deepred-side) 100%);
    border: 1px solid var(--clr-bg-deepred-border);
}

.pf-deepred {
    background-color: var(--clr-pf-deepred);
}

.bg-blue {
    background: linear-gradient(113deg, var(--clr-bg-blue-side) 0%, var(--clr-bg-blue-middle) 51%, var(--clr-bg-blue-side) 100%);
    border: 1px solid var(--clr-bg-blue-border);
}

.pf-blue {
    background-color: var(--clr-pf-blue);
}

.bg-gray {
    background: linear-gradient(113deg, var(--clr-bg-gray-side) 0%, var(--clr-bg-gray-middle) 51%, var(--clr-bg-gray-side) 100%);
    border: 1px solid var(--clr-bg-gray-border);
}

.pf-gray {
    background-color: var(--clr-pf-gray);
}

.bg-yellow {
    background: linear-gradient(113deg, var(--clr-bg-yellow-side) 0%, var(--clr-bg-yellow-middle) 51%, var(--clr-bg-yellow-side) 100%);
    border: 1px solid var(--clr-bg-yellow-border);
}

.pf-yellow {
    background-color: var(--clr-pf-yellow);
}

.bg-purple {
    background: linear-gradient(113deg, var(--clr-bg-purple-side) 0%, var(--clr-bg-purple-middle) 51%, var(--clr-bg-purple-side) 100%);
    border: 1px solid var(--clr-bg-purple-border);
}

.pf-purple {
    background-color: var(--clr-pf-purple);
}

.bg-brown {
    background: linear-gradient(113deg, var(--clr-bg-brown-side) 0%, var(--clr-bg-brown-middle) 51%, var(--clr-bg-brown-side) 100%);
    border: 1px solid var(--clr-bg-purple-border);
}

.pf-brown {
    background-color: var(--clr-pf-brown);
}

@media(max-width: 597px) {
    section {
        margin-top: 150px;
    }

    header .wrapper {

        flex-direction: column;
        align-items: center;
    }

}